.news-home {
 /* background-color: bisque; */
  display: flex;
 flex-direction: column;
 
  
}
 .home-content {
     display: flex;
     flex-direction: column;
      padding: 1rem;
      width: 100%;
  gap: 1rem;
}



@media screen and (min-width: 724px){
  .home-content {
     display: flex;
     flex-direction: row;
}

  .item1 {
    flex: 1;
    gap: 1rem;
  }

  .list-section{
    width: 500px;
  }

}
