.news-home {
 background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.slides-section {
background-color: red;
}

.annalysis-section {
background-color: blue;
}

.categories-section {
background-color: yellow;
}

.list-section {
background-color: green;
}


@media screen and (min-width: 724px){
  .news-home {
     flex-direction: row;
     
}

  .item1 {
    flex: 1;
  }

}
